<p id="notice"><%= notice %></p>

<div class="ml-5 mr-5">
<div class="row">
<div class="col-1"></div>
<div class="col">
<div class="row">
<div class="col-4">
<form action=<%= new_thing_path %>>
    <button type="submit" class="btn btn-primary">New Thing</button>
</form>

</div>
<div class="col">
<h1>Things</h1>

</div>
</div>
</br>
<table class="table">
  <thead>

    <tr>
      <th>Thing title</th>
      <th>Category</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @things.each do |thing| %>
      <tr>
        <td><%= link_to thing.name, thing %></td>
        <td><%= thing.category.name %></td>
        <td><%= link_to 'Destroy', thing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<div class="col-1"></div>
</div>
</div>

<br>

